


/* GENERAL CSS*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  display: inline-block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  padding: 43px 20px 22px 20px;
  align-items: center;
}

/* NAVIGATION SYSTEAM */

.nav-list{
  display: flex;
  list-style-type: none;
}

.nav-item:nth-child(2){
  margin: 0 33px;
}

.nav-link{
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition: 0.2s;
}

.nav-link:active{
  color: black;
}

/* FOOTER SECTION */

.footer{
  padding: 84px 0;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 85px;
  background-color: #2C343E;
  border-radius: 5px;
}

.footer-nav{
  margin-right: 265px;
}

.footer-nav-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer-nav-item:nth-child(even){
  margin: 0 33px;
}

.footer-nav-link{
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition: 0.2s;
}

.footer-nav-link:active{
  color: #fff;
}

.footer-social-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item:nth-child(even){
  margin: 0 24px;
}